[submodule "cmake-unit"]
	path = cmake-unit
	url = git://github.com/polysquare/cmake-unit
[submodule "determine-header-language"]
	path = determine-header-language
	url = git://github.com/polysquare/cmake-determine-header-language
